{% extends "base.html" %}
{% block content %}
		<div id="content">
			<header>
				<h1>Robert Foss</h1>
			</header>
			<p>
			Hi, I am Robert Foss.
			I love building things; software, hardware and weird art.
			I'm a Free Software enthusiast and among others things I'm a contributor to the
			Linux graphics stack and related projects like the Linux Kernel, libdrm & Mesa.
			</p>
			<nav class="smcp">
			{% for item in MENUITEMS %}
				{% if not "about" in item[1] %}
			<a href="{{ item[1] }}">{{ item[0] }}</a>
				{% endif %}
			{% endfor %}
			</nav>
		</div>
{% endblock content %}
