{% extends "base.html" %}
{% block content %}
		<div id="content">
			<header>
				<h1>Robert Foss</h1>
			</header>
			<p>
			Hi, I am Robert.
			I love to build things; software, hardware and weird art.
			I'm a Free Software enthusiast and amongst others I'm acontributor to the
			Linux graphics stack and the related projects like the Linux kernel, Mesa and intel-gpu-tools.
			</p>
			<nav class="smcp">
			{% for item in MENUITEMS %}
				{% if not "about" in item[1] %}
			<a href="{{ item[1] }}">{{ item[0] }}</a>
				{% endif %}
			{% endfor %}
			</nav>
		</div>
{% endblock content %}
