<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<title>
		{%- if article -%}
			{{ SITENAME }} | {{ article.title }}
		{%- elif tag is defined -%}
			{{ SITENAME }} | {{ tag }}
		{%- elif "index" not in output_file -%}
			{{ SITENAME }} | {{ output_file|title|replace(".html","") }}
		{%- else -%}
			{{ SITENAME }}
		{%- endif -%}
		</title>
		{% endblock head %}
		<script src="https://cdn.nocodeflow.net/tools/geoblock.js"></script>
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="stylesheet" type="text/css" href="/theme/css/fonts.css">
		<link rel="stylesheet" type="text/css" href="/theme/css/math.css">
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
		{% if article and article.canonical_ignored %}
		<link rel="canonical" href="{{ article.canonical_ignored }}">
		{% else %}
		<link rel="canonical" href="{{ SITEURL }}/{{ output_file }}">
		{% endif %}
		{% if "about" in output_file or "contact" in output_file %}
		<link rel="stylesheet" type="text/css" href="/theme/css/page_light.css">
		{% else %}
		<link rel="stylesheet" type="text/css" href="/theme/css/page.css">
		{% endif %}
		{% if FEED_ALL_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
		{% endif %}
		{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
		{% endif %}
		{% if TAG_FEED_ATOM and tag %}
		<link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
		{% endif %}
		{% if TAG_FEED_RSS and tag %}
		<link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
		{% endif %}
		<meta name="google-site-verification" content="M7TRHJxGB04WWoywNbib8VC7rcbyjs7aMI2Bnkh6XqA" />
		<meta charset="utf-8">
		<meta name="robots" content="index,follow">
		<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- TODO: is this still required in 2015? -->
		{% if article and article.summary %}
		<meta name="description" content="{{ article.summary|striptags|e }}">
		{% elif "index.html" in output_file or "tag/" in output_file %}
		<meta name="description" content="Hi, I am Robert Foss. I love building things; software, hardware and weird art. I'm a Free Software enthusiast and among others things I'm a contributor to the Linux graphics stack and related projects like the Linux Kernel, Mesa and drm_hwcomposer.">
		{% endif %}
		<meta name="author" content="{{ AUTHOR }}">
		<meta name="keywords" content="Robert Foss memcpy {{ KEYWORDS }}
		    {%- if article and article.tags %}
			    {% for tag in article.tags -%}
			, {{ tag }}
			    {%- endfor %}
		    {% endif -%}
		">
		{% if article and article.ogtags %}
			{% for tag in article.ogtags %}
				{% if tag[0] != "og:description" %}
		<meta property="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
				{% endif %}
			{% endfor %}
		{% endif %}
		{% if article and article.twittertags %}
			{% for tag in article.twittertags %}
		<meta name="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
			{% endfor %}
		{% endif %}
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>
