{% extends "base.html" %}
{% block title %}Contact{%endblock%}
{% block content %}
		<div id="content">
			<header>
				<h1>Contact</h1>
			</header>
			<p>
			If you’d like to drop me a line,
			you can reach me at my first name at veniogames dot com.
			I read all of my email.
			If you like to be flagged by a few three or four-letter agencies,
			you can encrypt your message using
			<a href="/robertfoss.asc">my key</a>.
			Cheers!
			</p>
			<nav class="smcp">
			{% for item in MENUITEMS %}
				{% if not "contact" in item[1] %}
			<a href="{{ item[1] }}">{{ item[0] }}</a>
				{% endif %}
			{% endfor %}
			</nav>
		</div>
{% endblock %}



