{% extends "base.html" %}
{% block title %}Contact{%endblock%}
{% block content %}
		<div id="content">
			<header>
				<h1>Contact</h1>
			</header>
			<p>
			If you’d like to get a gold of me,
			you can reach me at <a href="mailto:robert.foss@memcpy.io">robert.foss@memcpy.io</a>.
			If you like it, feel free to use my <a href="/robertfoss.asc">gpg key</a>.
			You can also get a hold of me on irc, on freenode,
			my nick is robertfoss.
			Cheers!
			</p>
			<nav class="smcp">
			{% for item in MENUITEMS %}
				{% if not "contact" in item[1] %}
			<a href="{{ item[1] }}">{{ item[0] }}</a>
				{% endif %}
			{% endfor %}
			</nav>
		</div>
{% endblock %}



