		<footer>
			<div id="footer">
				<p id="notices" class="smcp">
					<a href="/about.html">About</a>
					<span id="breakdot">&middot;</span>
					<a href="/index.html">Blog</a>
					<span id="breakdot">&middot;</span>
					<a href="/contact.html">Contact</a>
					<span id="breakdot">&middot;</span>
					<a href="https://github.com/robertfoss">GitHub</a>
					<br>
					<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Copyleft</a>
					<span id="breakdot">&middot;</span>
					{{ CURRENTYEAR }} Robert Foss
					<span id="breakdot">&middot;</span>
					<a href="https://github.com/robertfoss/memcpy.io">Source</a>
					<br>
					<a href="/"><img src="/logo.png"></a>
				</p>
			</div>
		</footer>

