{% extends "base.html" %}
{% block content %}
		<div id="content" class="archive">
			<header>
				<h1>Talks</h1>
			</header>
			{% set max_year = [99999] %}
			{% set talks_tag = "talks" %}
			{% for article in articles if 'talks' in article|taglist  %}
				{% set article_year = article.date.year %}
				{% set last_year = max_year.pop() %}
				{% set unnused_var = max_year.append(article_year) %}
				{% if last_year > article_year %}
			<h2>{{ article_year }}</h2>
				{% endif %}
			<h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
			<p>{{ article.description }} <a href="{{ article.url }}" class="smcp">Read full post</a></p>
			{% endfor %}
		</div>
{% include "footer.html" %}
{% endblock content %}

