<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">
	<!--<link rel="stylesheet/less" type="text/css" href="/theme/css/style.less">-->
	<!--<script src="/theme/js/less.js" type="text/javascript"></script>-->
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:800,400,300|Inconsolata' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="logo.png" />

	<link href="{{ FEED_DOMAIN }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
	{% if FEED_RSS %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
	{% endif %}
	{% if article and article.latex %}
		{{ article.latex }}
	{% endif %}

    <meta name="robots" content="index,follow">
    <meta name="keywords" content="Robert Foss, Open Source, Linux, Embedded, Engineer
	    {%- if article and article.tags %}
		    {% for tag in article.tags -%}
                , {{ tag }}
		    {%- endfor %}
	    {% endif -%}
    ">
	{% if article and article.ogtags %}
		{% for tag in article.ogtags %}
            {% if tag[0] == "og:description" %}
    <meta name="description" content="{{tag[1]|striptags|e}}" />
            {% endif %}
		{% endfor %}
	{% endif %}

	{% if article %}
        {% for tag in article.ogtags %}
    <meta property="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
        {% endfor %}
	{% endif %}

	{% block head %}
	<title>
	{%- if article -%}
		{{ SITENAME }} | {{ article.title }}
	{%- else -%}
		{{ SITENAME }}
	{%- endif -%}
	</title>
	<meta charset="utf-8" />
	{% endblock head %}
</head>
<body>
	<section id="sidebar">
		<div id="menu">
			<a href="/">
				<img type="image/png" src="{{ SITEURL }}/logo.png" width="155">
			</a>

			<h1>{{ SITENAME }}</h1>
			<h2>{{ TAGLINE }}</h2>
			{% if AUTHOR_BIO %}
			<p class="bio">{{ AUTHOR_BIO }}</p>
			{% endif %}
			<ul>
				{% for title, link in MENUITEMS %}
					<li><a href="{{ link }}">{{ title }}</a></li>
				{% endfor %}
				{% if DISPLAY_PAGES_ON_MENU %}
					{% for p in PAGES %}
						<li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
					{% endfor %}
				{% endif %}
				{% if DISPLAY_CATEGORIES_ON_MENU %}
					{% for cat, null in categories %}
						<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
					{% endfor %}
				{% endif %}
				{% if DISPLAY_LINKS_ON_MENU %}
				    {% for name, link in LINKS %}
					    <li><a href="{{ link }}">{{ name }}</a></li>
				    {% endfor %}
				{% endif %}
			</ul>
		</div>
	</section>

	<section id="posts">
	{% block content %}
	{% endblock %}
	</section>

	{% include 'analytics.html' %}
</body>
</html>
